/* 게시판 1 */
.cont .col1 {
  border-right: 1px solid #c8c8c8;
}
.notice {
  position: relative;
}
.notice h4 {
  font-size: 14px;
  color: #0093bd;
  padding-bottom: 3px;
  font-weight: 700;
}
.notice ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url(../img/dot.gif) no-repeat 0 9px;
}
.notice ul li a {
  font-size: 12px;
  padding-left: 10px;
}
.notice a.more {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background: url(../img/icon.png) -150px -90px;
  width: 17px;
  height: 17px;
}
.notice a.more:hover {
  background-position: -167px -90px;
}

.notice2 {
  position: relative;
  margin-top: 20px;
}
.notice2 h4 {
  font-size: 14px;
  color: #0093bd;
  padding-bottom: 3px;
  font-weight: 700;
}
.notice2 ul li {
  overflow: hidden;
  background: url(../img/dot.gif) no-repeat 0 9px;
  padding-left: 10px;
}
.notice2 ul li a {
  float: left;
  width: 60%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice2 ul li span {
  float: right;
  width: 30%;
  font-size: 12px;
  text-align: right;
}
.notice2 a.more {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background: url(../img/icon.png) -150px -90px;
  width: 17px;
  height: 17px;
}
.notice2 a.more:hover {
  background-position: -167px -90px;
}
