/* 게시판 5 */
.cont .col5 {
  border-right: 1px solid #c8c8c8;
}
/* TAB_MENU */
.tab_menu {
  position: relative;
  border: 1px solid #ccc;
  padding: 8px;
  height: 105px;
}
.tab_menu ul {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.tab_menu ul li {
  float: left;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}
.tab_menu ul li a {
  padding: 5px 10px;
  display: block;
}
.tab_menu ul li ul {
  position: absolute;
  left: 0;
  top: 48px;
  border: 0;
  width: 270px;
}
.tab_menu ul li ul li {
  float: none;
  border: 0;
  padding-left: 18px;
  background: url(../img/dot.gif) no-repeat 9px 8px;
}
.tab_menu ul li ul li a {
  padding: 0 0 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.tab_menu ul li.active {
  background: #2c94c4;
}
.tab_menu ul li.active a {
  color: #fff;
}
.tab_menu ul li.active ul li a {
  color: #333;
}

/* NOTICE4 TAB_MENU_2 */
.notice4 {
  position: relative;
  border: 1px solid #ccc;
}
.notice4 h4 {
  font-size: 14px;
  color: #0093bd;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  padding: 8px 10px;
}
.notice4 h4 em {
  color: #cf3292;
}
.notice4 ul {
  padding: 10px;
}
.notice4 ul li {
  overflow: hidden;
  background: url(../img/dot.gif) no-repeat 0px 8px;
  padding-left: 8px;
  padding-bottom: 2px;
}
.notice4 ul li a {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.notice4 ul li span {
  float: right;
  width: 30%;
  text-align: right;
}
.notice4 a.more {
  position: absolute;
  right: 9px;
  top: 9px;
}
