.side1 img,
.side2 img,
.side3 img {
  width: 100%;
}

@media (max-width: 960px) {
  #cont_right {
    overflow: hidden;
  }
  #cont_right .column {
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
  }
  #cont_right .column.col7 {
    border-right: 1px solid #dbdbdb;
    border-bottom: 0;
  }
  #cont_right .column.col8 {
    border-right: 1px solid #dbdbdb;
    border-bottom: 0;
  }
}
@media (max-width: 600px) {
  #cont_right .column {
    width: 50%;
  }
  #cont_right .column.col8 {
    border-right: 0;
  }
  #cont_right .column.col9 {
    display: none;
  }
}
@media (max-width: 320px) {
  #cont_right .column {
    width: 100%;
  }
  #cont_right .column.col7 {
    border-right: 0;
    border-bottom: 1px solid #dbdbdb;
  }
  #cont_right .column.col9 {
    display: block;
  }
}
