#title {
  background-color: #eaf7fd;
}
.title {
  text-align: center;
  position: relative;
}
.title h2 {
  font-size: 39px;
  color: #0093bd;
  padding: 5px 0;
}
.title .btn {
  position: absolute;
  right: 0;
  top: 5px;
  width: 60px;
  height: 60px;
  background: #3192bf;
  color: #fff;
  font-size: 35px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.title .btn:hover {
  box-shadow: 0 0 0 3px rgba(71, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

@media (max-width: 1220px) {
  .title .btn {
    right: 5px;
  }
}
@media (max-width: 600px) {
  .title .btn {
    display: none;
  }
}
