.movie .movie_title {
  margin-bottom: 60px;
}
.movie .movie_title ul {
  overflow: hidden;
  width: 848px;
  margin: 0 auto;
}
.movie .movie_title li {
  float: left;
  width: 210px;
  text-align: center;
  border: 1px solid #c6c6c6;
  margin-right: -1px;
}
.movie .movie_title li a {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  color: #666;
  font-weight: 700;
}
.movie .movie_title li.active a {
  background-color: #666;
  color: #fff;
}

@media (max-width: 960px) {
  .movie .movie_title ul {
    width: auto;
  }
  .movie .movie_title li {
    width: 25%;
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  #movie .row {
    background: #fff;
    margin: 24px;
    padding: 24px;
  }
  #movie .ir_so {
    position: static;
    width: auto;
    height: auto;
    line-height: normal;
    text-indent: 0;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .movie {
    padding: 0;
  }
  .movie_title {
    margin-bottom: 30px;
  }
  .movie_title ul {
    position: relative;
    padding-bottom: 10px;
  }
  .movie_title ul::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e1e1e1;
  }
  .movie .movie_title li {
    width: auto;
    border: 0;
  }
  .movie .movie_title li a {
    position: relative;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    padding: 0;
    margin-right: 35px;
  }
  .movie_title li.active a::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #666;
  }
  .movie .movie_title li.active a {
    background: none;
    color: #666;
  }
}

@media (max-width: 600px) {
  #movie .container:after {
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: #d9d7e0;
  }
  #movie .row {
    position: relative;
    margin: 8px;
    padding: 16px;
    margin-right: 0;
    padding-right: 0;
  }
  #movie .row:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 24px;
    height: 100%;
    background-color: #fff;
  }
  #movie .ir_so {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .movie .movie_title {
    margin-bottom: 20px;
  }
  .movie .movie_title ul {
    padding-bottom: 8px;
    white-space: nowrap;
    overflow-x: auto;
  }
  .movie .movie_title li a {
    font-size: 14px;
    margin-right: 15px;
  }
  .movie .movie_title li.active a:before {
    bottom: -8px;
  }
}

@media (max-width: 320px) {
  .movie_title li a {
    margin-right: 9px;
  }
}
